.btn-custom {
    color: #ffffff;
    background-color: #149b4ea8;
    padding: 8px 15px;
    border-radius: 5px;
    margin: 0 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
  }
  
  .btn-custom:hover {
    background-color:#149b99e6;
    color: #f1f1f1;
    text-decoration: none;
  }
  
  /* Estilos para el botón activo */
  .nav-link.active.btn-custom {
    background-color: #149b4ea8;
    color: #ffffff;
    border: 1px solid #ffffff;
  }